@import "./variables";

.adventure-archive-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: calc(50%-20px);
  margin: 5rem auto;
  width: 1120px;
  height: 1120px;
}

.adventure-archive-header {
  color: rgb(64, 64, 64);
  text-transform: uppercase;
  padding: 2rem 0;
  border-bottom: $dashed-border;
  text-align: center;
  margin: 0 auto 2rem auto;
  width: 1120px;
  letter-spacing: 2px;
}

.type-adventure img {
  height: 100vh;
}
