@import "./variables";

.entry-title-sidebar {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.entry-content-sidebar h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
}

#wpgmza_map {
  margin-bottom: 2rem;
}
