$base-spacing-unit: 1.5rem;
$site-width: 1120px;

$font-size: 16px;
$font-color: #404040;
$line-heigh: 1.75;
$main-font: "Merriweather Web";
$accent-font: "Novecento Sans Web";

$green-brand-color: #248a83;
$purple-brand-color: #2f1339;
$orange-brand-color: #d99054;
$yellow-brand-color: #f0e4d1;
$light-grey-brand-color: #a1a1a1;
$medium-grey-brand-color: #808080;

$border-color: #e1e1e1;
$solid-border: 1px solid #e1e1e1;
$dashed-border: 1px dashed #c8c8c8;

$header-height: 2em;
